*
{
	font-family: 'Josefin Sans', sans-serif;
	color: #003399;	
}

.card1
{
	-webkit-box-shadow: -12px -9px 14px -3px rgba(54,53,54,1);
-moz-box-shadow: -12px -9px 14px -3px rgba(54,53,54,1);
box-shadow: -12px -9px 14px -3px rgba(54,53,54,1);
}
.card2
{
	-webkit-box-shadow: 10px -9px 14px -3px rgba(54,53,54,1);
-moz-box-shadow: 10px -9px 14px -3px rgba(54,53,54,1);
box-shadow: 10px -9px 14px -3px rgba(54,53,54,1);
Copy Text
}